
:root{
    --cor-vermelha-ifood: #ea1d2c;
    --cor-cinza-texto: #565656;
    --cor-cinza-borda: #c7c7c7;
    --cor-cinza-fundo: #ffffff;
}
/* Zerando as propriedades do documento */
*{
    margin: 0;
    padding: 0;

}

.body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-cinza-fundo);
    color: var(--cor-cinza-texto);
}

.Cabecalho{
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid var(--cor-cinza-borda);
}

.LOGO{
    height: 5vh;
}

.Container{
    /* Propriedade define a largura maxima que ele pode atingir */
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}