
:root{
    --cor-vermelha-ifood: #ea1d2c;
    --cor-cinza-texto: #565656;
    --cor-cinza-borda: #c7c7c7;
    --cor-cinza-fundo: #ffffff;
}
/* Zerando as propriedades do documento */
*{
    margin: 0;
    padding: 0;

}

.body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-cinza-fundo);
    color: var(--cor-cinza-texto);
}

.Cabecalho{
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid var(--cor-cinza-borda);
}

.LOGO{
    height: 5vh;
}

.Container{
    /* Propriedade define a largura maxima que ele pode atingir */
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacao{
    display: flex;
    gap: 20px;
}

.item{
    /* Remove decoração da tag a */
    text-decoration: none;
    color: var(--cor-cinza-texto);
    /* Aplicando negrito */
    font-weight: 600;
    padding: 8px 0;
    border-bottom: 3px solid transparent;
}

.item:focus,
.item:hover{
    color: var(--cor-vermelha-ifood);
    border-bottom-color: var(--cor-vermelha-ifood);
}

.buscar{
    padding: 10px;
    
    border: 1px solid var(--cor-cinza-borda);
    border-radius: 8px;
    width: 10rem;
}

.localizacao{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.texto-local{
    border: none;
    font-weight: 600;
    font-size: 0.8rem;
}

.acao{
    display: flex;
    align-items: center;
    gap: 14px;
}

.criar-conta{
    text-decoration: none;
    color: var(--cor-vermelha-ifood);
    font-size: 600;
}

.botao-entrar{
    background-color: var(--cor-vermelha-ifood);
    color: var(--cor-cinza-fundo);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
}

.card-produtos{
    display: flex;
    flex-direction: column;
    width: 7vw;
    text-align: center;
    transition: transform 0.2s ease;
}

.card-produtos:hover{transform: translateY(-5px);}

.card-produtos img{

}

.secao-produtos{
    display: flex;
    gap: 5px;
    overflow-x: scroll;
}
.secao-produtos::-webkit-scrollbar{visibility: hidden;}